* {
  background-color: #eeeedd;
  color: #58381f;
  font-family: Monaco, sans-serif;
}

img {
  height: 280px;
  width: auto;
  box-shadow: 4px 4px 15px #0c0c0c;
}

div {
  margin: 10px;
}

.description {
  display: inline;
}

a {
  text-decoration: none;
}

a:hover {
  color: #d16014;
  font-weight: bold;
}

h1 {
  text-align: center;
}

.card-title {
  padding: 10px;
  margin: 0 0 15px;
}

.recipe-list {
  margin: 10px 0 0;
  padding: 10px 30px;
}

.recipe-list-items {
  margin: 5px;
}

.card {
  background-color: #dec584;
  padding: 10px;
  max-width: 400px;
  margin: 50px auto;
}